{{- $showShare := ne (.Param "showshare") false }}
{{- $showDate := ne (.Param "showdate") false }}
{{- $showReadTime := eq (.Param "showreadtime") true }}
{{- $showPostMeta := or ($showShare) ($showDate) ($showReadTime) (isset .Params "tags") }}
{{- $scratch := newScratch }}
{{- $scratch.Set "writeSeparator" false }}
{{- if $showPostMeta }}
<div class="post_meta">
  {{- end }}
  {{- if $showDate }}
  <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
  <span class="post_date">
    {{ .Date.Format (default "Jan 2, 2006" $.Site.Params.dateFormat) -}}
  </span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{ $time_diff := lang.NumFmt 2 (.Date.Sub now).Hours }}
  {{ $time_unit := "Stunden" }}
  {{- if gt $time_diff 24 }}
  {{ $time_diff = lang.NumFmt 2 (div (.Date.Sub now).Hours 24) }}
  {{ $time_unit = "Tagen" }}
  {{- end }}
  {{ $days_until := div (.Date.Sub now).Hours 24 }}
  <span>{{ partial "sprite" (dict "icon" "clock") }}</span>
  <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}
    {{ .Params.starttime }} ~ {{ .Params.endtime }}</span>
  {{- $scratch.Set "writeSeparator" true }}
  <span class="post_time">{{ if ($scratch.Get "writeSeparator") }} · {{ end }}beginnt in
    ({{ $time_diff }} {{ $time_unit }})</span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- with .Params.tags -}}
  <span>
    {{- if ($scratch.Get "writeSeparator") }}&nbsp;· {{ end }}
    {{- range . }}
    {{- $tag := urlize . -}}
    <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
      {{- . }}
    </a>
    {{- end }}
  </span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $showShare }}
  <span class="page_only">{{ if ($scratch.Get "writeSeparator") }}&nbsp;·{{ end }}{{ partial "share" . }}</span>
  {{- $scratch.Set "writeSeparator" true }}
  {{- end }}
  {{- if $showPostMeta }}
</div>
{{- end }}
